<div id="<%= dom_id(group) %>">

   
    <div class="icons">
    <i class="bi-<%= group.icon %>"></i>
  </div>
  <div class="group-list-item">
    <h3><%= group.name %></h3>
     <% if group.present?%>
    <p>View your Total spending <%= number_to_currency(group.icon) %></p>
    <% else %>
    <h3>You haven't spend anything on this category yet</h3>
  <% end %>
  </div>
</div>