<div class='card-container'>
  
    <% if group.present?%>
      <% if group.icon_image.present? %>
        <%= image_tag group.icon_image.variant(resize_to_limit: [100, nil]) %>
      <% end %>
        
      <div class="group-list-item">
        <p class='title' ><%= group.name %></p>
        <p class='date'> <%= group.created_at.strftime('%e %B %Y') %></p>
      </div>
      <p>View your Total spending</p>
    <% else %>
      <h3>You haven't spend anything on this category yet</h3>
    <% end %>
    
</div>