/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3778c2;
  --secondary-color: #434b54;
  --success-color: #5fb523;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('path-to-your-font-folder/ProximaNova-Regular.woff2') format('woff2'),
       url('path-to-your-font-folder/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 13px !important;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Roboto', sans-serif !important; */
  font-weight: 600;
  line-height: 1.5;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.button-container {
  background-color: var(--success-color);
  color: white;
  padding: 20px 20px;
  border-radius: 0;

  cursor: pointer;
  width: 100%;
}

.button-container > * {
  margin: 0 auto;
  text-transform: uppercase;
}

.custom {
  background-color: var(--success-color);
  color: white;
  padding: 10px 10px;
  border-radius: 0;
  border: 1px solid #fff;
  cursor: pointer;
  width: 95%;
}



.custom:hover {
  color: #fff;
  background-color: var(--success-color);
  border: 1px solid var(--success-color);

}

.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
}

.input-group {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border-radius: 5px;
}

.action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.my-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-toggler{
  /* background-color:red; */
  color: #fff;
  border: 1px solid #fff;
}