<div class="expense-class" id="<%= dom_id expense %>">

  <div class="sm"> <img class="icon-image" src="<%= expense.amount %>" alt="expense icon" class="expense-icon mr-3"></div>
  

  <div class="sm">
    <%= expense.name %>
  </div>

  <div class="sm">
    <h4>
      <%= number_to_currency(expense.amount, unit: "R ") %>
    </h4>
  </div>

</div>
