<div class="expense-class" id="<%= dom_id expense %>">
  <div class="sm">
   <h3> <%= expense.name %></h3> 
    <h4>
     <%= number_to_currency(expense.amount, unit: "R ") %> <i class="bi-wallet2" style="font-size: 2rem;"></i>
    </h4>
  </div>

</div>
