<div class='container'>
<%= link_to "Back to Transactions", expenses_path %>
<h1>Editing Transaction</h1>

<%= render "form", expense: @expense %>

<br>

<div>
  <%= link_to "Show this Transaction", @expense %> 
  
</div>
</div>